html,
body {
  margin: 0;
  width: 100%;
  background: #1c1c1c;
  color: white;
  font-family: Menlo, Meslo LG M, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadein {
  animation: fade-in 0.5s;
}
